<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/customer/src/main/resources/static/style.css" rel="stylesheet">
    <!--<style>
        body{
background-color:Orange;
}
form{
}
    </style>-->
    <title>login</title>
</head>
<body>
    <form method="post" id="submit" action="welcome.html">
        <table>
        <tr><td><h3>Login</h3></td></tr>
        <tr><td><label for="name">Name</label></td>
            <td><input type="text" id="name" placeholder="Enter your name"></td>
        </tr>
        <tr><td><label for="fname">Father's Name</label></td>
            <td><input type="text" id="fname" placeholder="Enter your father name"></td>
        </tr>
        <tr><td><label for="mname">Mother's name</label></td><td>
        <input type="text" id="mname" placeholder="Enter your mother name"></td></tr>
        <tr><td><label for="date_of_birth">Date of birth</label></td>
            <td><input type="date" id="date_of_birth"></td></tr>
        <tr><td><label for="number">Your mobile number</label></td>
            <td><input type="number" id="number" placeholder="Enter your mobile number"></td></tr>
        <tr><td><label for="Onumber">Other mobile number</label></td>
            <td><input type="number" id="Onumber" placeholder="Enter your other number"></td></tr>
        <tr><td><label for="email">Email Address</label></td>
            <td><input type="email" id="email" placeholder="Enter your email address"></td></tr>
        <tr><td><input type="submit"></td></tr>
    </table>
    </form>
</body>
</html>